#block-clients-block-item {
  .title__container {
    padding: 24px 0 63px 0;
    overflow: hidden;
    text-align: center;
    .title__item {
      font-weight: bold;
      font-size: 28px;
      max-width: 100%;
      overflow: hidden;
      &:before, &:after {
        max-width: 43%;
        background-color: $bordergray;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 48%;
      }
      &::before {
        right: 19px;
        margin-left: -52%;
      }
      &::after {
        left: 19px;
        margin-right: -52%;
      }
    }
  }
  .section {
    margin-bottom: 108px;
  }
}
