@mixin footer-container($padding-x: $container-padding-x) {
  max-width: 1300px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
.container-1300 {
  @include footer-container();
  padding: 0;
}
.footer {
  background: $darkblue;
  padding: 47.5px 0 47.5px 0;
  border: 0;
  .footer-wrapper{
    justify-content: space-between;
    min-height: 100px;
    display: flex;
    padding-top: 14px;
    @media (max-width: 1330px) {
      padding: 0 15px;
    }
    .navbar-logo {
      display: flex;
      flex-direction: column;
      padding-left: 9px;
      //padding-top: 36px;
      max-width: 240px;
      margin: auto 0;
      @media (max-width: 574px) {
        padding: 15px 0;
      }
      .navbar-logo__name__item {
        color: $bluesky;
        font-family: $podkova-sf;
        text-transform: none;
        font-size: 39px;
        padding-bottom: 0;
        letter-spacing: -0.02em;
        //margin-bottom: -11px;
        padding-top: 16px;
        margin-bottom: -4px;
        @media (max-width: 574px) {
          font-size: 30px;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: -12px;
        }
      }
      .navbar-logo__slogan__item {
        margin: 0;
        padding: 0 16px;
        font-size: 16px;
        //letter-spacing: -0.011em;
        color: $lightgray;
        //letter-spacing: 0;
        //font-size: 16px;
        @media (max-width: 574px) {
          text-align: start;
          font-size: 12px;
          padding: 0 4px;
        }
      }
    }
    #block-socialmedialinks-2 {
      display: flex;
      .title__container {
        padding: 0;
      }
      .section {
        display: flex;
        .container-1250 {
          margin: auto 0;
          @media (max-width: 575px) {
            padding: 0;
          }
          .social-media-links--platforms {
            margin: -3px -2px 0 0;
          }
        }
      }
    }
  }
}
