@import "variables";
#block-exam-views-block-services-service-block {
  overflow-x: hidden;
  .title__container {
    text-align: center;
    .title__item {
      font-weight: bold;
      font-size: 28px;
      max-width: 100%;
      overflow: hidden;
      &:before, &:after {
        max-width: 43%;
        background-color: $bordergray;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 48%;
      }
      &::before {
        right: 19px;
        margin-left: -52%;
      }
      &::after {
        left: 19px;
        margin-right: -52%;
      }
    }
  }
  .section {
    padding: 90px 0 19px 0;
    .container-1250 {
      @media (max-width: 767px) {
        padding: 0 15px;
      }
      .view_wrapper {
        margin-bottom: 20px;
        overflow: hidden;
        .view_wrapper_content {
          @media (min-width: 1250px) {
            max-width: fit-content;
          }
          @media (max-width: 991px) {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          }
          text-align: center;
          .views-field-field-image {
            text-align: center;
            padding-bottom: 34px;
            img {
              //min-width: 290px;
              margin: 0 auto;
              max-width: 290px;
              @media (max-width: 1249px) {
                max-width: 200px;
                max-height: 200px;
                margin: 0 auto;
              }
              @media (max-width: 991px) {
                max-width: 250px;
                max-height: 250px;

              }
            }
          }
          .views-field-title {
            text-transform: uppercase;
            font-size: 21px;
            letter-spacing: -0.02em;
            @media (max-width: 1249px) {
              font-size: 20px;
            }
          }
          .views-field-body {
            text-transform: uppercase;
            color: $bordergray;
            padding: 11.5px 0 13px 0;
            font-size: 13px;
            letter-spacing: -0.085em;
            line-height: 13px;
          }
          .views-field-view-node {
            padding-top: 15px;
            .btn {
              padding: 5px 7px;
            }
          }
        }
      }


      .view_wrapper:first-child {
        padding-left: 0;
        //padding-right: 23px;
        @media (max-width: 991px)  {
          padding: 0 15px;
        }
        .view_wrapper_content {
          .views-field-field-image {
            margin-top: 1px;
            margin-left: -10px;
          }
          .views-field-title {
            margin-left: -9px;
            letter-spacing: -0.035em;
          }
          .views-field-body {
            margin-left: -8px;
          }
          .views-field-view-node {
            margin-left: -8px;
            padding-bottom: 20px;
            margin-bottom: 24px;
          }
        }
      }


      .view_wrapper:nth-child(2) {
        .view_wrapper_content {
          .views-field-field-image {
            margin-left: -10px;
            margin-top: 0px;
            @media (max-width: 1249px) {
              margin: 0 auto;
            }
          }
          .views-field-body {
            margin-left: -8px;
            padding-top: 11px;
          }
          .views-field-title {
            margin-left: -9px;
            letter-spacing: -0.028em;
          }
          .views-field-view-node {
            margin-left: -7px;
            margin-bottom: 26px;
            padding-top: 16px;
          }
        }
      }
      .view_wrapper:nth-child(3) {
        .view_wrapper_content {
          .views-field-field-image {
            margin-left: 6px;
            margin-top: 0px;
          }
          .views-field-title {
            letter-spacing: -0.025em;
            margin-left: 6px;
          }
          .views-field-body {
            margin-left: 3px;
            padding-top: 11px;
          }
          .views-field-view-node {
            margin-left: 8px;
            margin-bottom: 21px;
            padding-top: 16px;
          }
        }
      }
      .view_wrapper:nth-child(4), {
        padding-right: 0;
        @media (max-width: 991px) {
          padding: 0 15px;
        }
        .view_wrapper_content {
          .views-field-field-image {
            margin-left: -4px;
            padding-bottom: 32px;
            @media (max-width: 1249px) {
              margin: 0 auto;
            }
          }
          .views-field-title {
            margin-left: 8px;
          }
          .views-field-body {
            padding-top: 10px;
            margin-left: 7px;
            letter-spacing: -0.08em;
            line-height: 14px;
          }

          .views-field-view-node {
            margin-left: 8px;
            margin-bottom: 24px;
            padding-top: 13px;
          }
        }
      }
    }
  }
}

