@import "variables";
#block-our-team-block {
  margin-top: 88px;
  @media (max-width: 767px) {
    margin-top: 50px ;
  }
  .title__container {
    text-align: center;
    overflow-x: hidden;
    .title__item {
      font-weight: bold;
      font-size: 28px;
      max-width: 100%;
      overflow: hidden;
      &:before, &:after {
        max-width: 43%;
        background-color: $bordergray;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 48%;
      }
      &::before {
        right: 19px;
        margin-left: -52%;
      }
      &::after {
        left: 19px;
        margin-right: -52%;
      }
    }
  }
  .section {
    padding: 31px 0 114px 0;
    @media (max-width: 767px) {
      padding: 20px 0 50px 0;
    }
    .container-1250 {
      @media (max-width: 767px) {
        padding: 0 15px;
      }
      .view_wrapper {
        margin-bottom: 20px;
        padding-bottom: 10px;
        @media (min-width: 1250px) {
          max-width: fit-content;
        }
        text-align: center;
        .views-field-field-image {
          margin-bottom: 33px;
          img {
            //min-width: 290px;
            max-width: 290px;
            margin: 0 auto;
            @media (max-width: 1249px) {
              max-width: 200px;
              max-height: 200px;
              margin: 0 auto;
            }
            @media (max-width: 991px) {
              max-width: 250px;
              max-height: 250px;

            }
          }
        }
        .views-field-field-team-name {
          text-transform: uppercase;
          font-size: 23.5px;
          letter-spacing: 0.015em;
          margin-bottom: -3px;
          @media (max-width: 1249px) {
            font-size: 20px;
          }
        }
        .views-field-field-team-position {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 0.02em;
        }
        .views-field-view-node-1 {
          margin-top: 15px;
          .btn {
            background-color: $darkblue;
            padding: 5px 9px  ;
            &:hover {
              background-color: $bluesky;
            }
          }
        }
        .views-field-field-social-link {
          li {
            padding: 0 7px 0 0;
          }
          .field-content {
            .social-media-link--facebook {
              font-size: 0;
            }
            .social-media-link-icon--facebook {
              span:before {
                  content: "\f09a";
                  background: #6e9bca;
                  color: white;
                  width: 25px;
                  height: 25px;
                  background-size: 25px;
                  font-size: 20px;
                  padding: 3px 7px;
              }
            }
            .social-media-link--twitter {
              font-size: 0;
            }
            .social-media-link-icon--twitter {
              span {
                &:before {
                  content: "\f099";
                  background: #6e9bca;
                  color: white;
                  width: 25px;
                  height: 25px;
                  background-size: 25px;
                  font-size: 20px;
                  padding: 3px 3px;
                }
              }
            }
            .social-media-link--linkedin {
              font-size: 0;
            }
            .social-media-link-icon--linkedin {
              span {
                &:before {
                  background: #6e9bca;
                  color: white;
                  width: 25px;
                  height: 25px;
                  background-size: 25px;
                  font-size: 20px;
                  padding: 3px 3px;
                  content: "\f0e1";
                }
              }
            }
          }
        }
        .views-field-link-flag {
            margin-top: 3px;
            padding: 0;
            margin-left: -14px;
            .field-content {
              padding: 0;
              @media (max-width: 767px) {
                text-align: start;
              }
              @media (max-width: 574px) {
                text-align: center;
              }
              a {
                color: $lightgrayer;
                text-decoration: none;
              }
            }
        }
      }
      .view_wrapper:first-child {
        padding-left: 0;
        @media (max-width: 1249px)  {
          padding: 0 15px;
        }
        .views-field-view-node-1 {
          margin-bottom: 17px;
        }
        .views-field-field-social-link {
          margin-left: -1px;
        }
        .views-field-link-flag {
          .field-content {
            margin-left: 11px;
            margin-top: 6px;
          }
        }
      }
      .view_wrapper:nth-child(2) {
        .views-field-field-image img {
          margin: 0 auto;
          @media (max-width: 1249px) {
            margin: 0 auto;
          }
        }

        .views-field-field-team-name {
          margin-left: 5px;
          letter-spacing: 0;
        }

        .views-field-view-node-1 {
          margin-left: 7px;
          margin-bottom: 23px;
        }

        .views-field-field-social-link {
          margin-left: 4px;
        }

        .views-field-link-flag {
          .field-content {
            margin-left: 15px;
            margin-top: 4px;
          }
        }
      }
      .view_wrapper:nth-child(3) {
        padding-left: 22px;
        @media (max-width: 1249px)  {
          padding: 0 15px;
        }
        .views-field-field-team-name {
          margin-left: 13px;
          letter-spacing: -0.015em;
        }
        .views-field-view-node-1 {
          margin-left: 15px;
          margin-bottom: 19px;
        }
        .views-field-field-social-link {
          margin-left: 3px;
        }
        .views-field-link-flag {
          .field-content {
            margin-left: 19px;
            margin-top: 5px;
          }
        }
      }
      .view_wrapper:nth-child(4) {
        padding-right: 0;
        padding-left: 30px;
        @media (max-width: 1249px)  {
          padding: 0 15px;
        }
        .views-field-field-image img {
          margin-right: 0;
          @media (max-width: 1249px) {
            margin: 0 auto;
          }
        }
        .views-field-field-team-name {
          margin-left: 11px;
          letter-spacing: 0.075em;
        }
        .views-field-view-node-1 {
          margin-left: 10px;
          margin-bottom: 22px;
        }
        .views-field-field-social-link {
          margin-left: 13px;
        }
        .views-field-link-flag {
          .field-content {
            margin-left: 19px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
